* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLES */
:root {
  --primary-color: #299fbc;
  --primary-font: Algerian;
  --bg-image-center: no-repeat center/cover;
}

.center {
  text-align: center;
}

/* ***** NAVIGATION  ***** */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  padding: 20px;
  z-index: 999;
}

.list-items {
  display: inline;
}

.list-items a {
  padding: 20px;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

.btn-l {
  background-color: var(--primary-color);
  height: 40px;
  width: 90px;
  border-radius: 20px;
}

.list-items a button:hover {
  background-color: #96c0ec;
  cursor: pointer;
}

.list-items a:hover {
  border-bottom: 2px solid #fff;
}

.nav__logo h1 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

span {
  color: var(--primary-color);
}

/* ***** HEADER  ***** */
.hero {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.616)),
    url("../Assets/bg1.jpg") var(--bg-image-center) fixed;
  width: 100vw;
}

.hero__headings-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: sans-serif;
  margin-left: 10%;
  color: #fff;
}

.hero__main-headings {
  font-size: 5rem;
  color: white;
}

.main-span {
  font-family: var(--primary-font);
}

.hero__headings-container p {
  font-weight: bold;
}

.main-btn {
  text-decoration: none;
  margin-top: 20px;
  color: #fff;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
  font-weight: bold;
}

/* ****** COURSES *******/
.main-headings {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: normal;
  margin: 50px;
  transition-property: all;
  transition-duration: 0.5s;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  margin: 20px;
  transition-property: all;
  transition-duration: 1s;
  border: 1px solid #ccc;
}

.card:hover {
  box-shadow: 2px 2px 2px 2px #ccc;
  transform: scale(1.1);
}

.card-image {
  width: 300px;
  height: 250px;
}

.card p {
  color: rgb(39, 39, 39);
  font-family: sans-serif;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.img-one {
  background: url("../Assets/jee.jpg") var(--bg-image-center);
}

.img-two {
  background: url("../Assets/neet.webp") var(--bg-image-center);
}

.img-three {
  background: url("../Assets/kvpy.jpeg") var(--bg-image-center);
}

.cards-a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-a {
  padding: 10px;
  margin: 10px;
  transition-property: all;
  transition-duration: 1s;
  width: 25%;
  border-radius: 10px;
}

.card-a:hover {
  transform: scale(1.1);
}

.card-a-image {
  width: 250px;
  height: 200px;
}

.card-a p {
  color: rgb(39, 39, 39);
  font-family: sans-serif;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.img-1 {
  background: url("../Assets/faculty.jpeg") var(--bg-image-center);
}

.img-2 {
  background: url("../Assets/personlized.png") var(--bg-image-center);
}

/* .img-3 {
 background: url("../Assets/study_resources.png") var(--bg-image-center);
} */

.img-4 {
  background: url("../Assets/exam.webp") var(--bg-image-center);
}

.img-5 {
  background: url("../Assets/supportive.jpg") var(--bg-image-center);
}

.img-6 {
  background: url("../Assets/progress.png") var(--bg-image-center);
}

/******** Result ******/
.container-card {
  margin-top: 8rem;
  border: 2px solid black;
  border-radius: 50%;
  padding: 20px;
  width: 250px;
  height: 250px;
  cursor: pointer;
  transition: all 0.5s;
  justify-content: center;
  border: 10px solid var(--primary-color);
}

.container-res {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-card:hover {
  box-shadow: 1px 1px 5px 0px;
  transform: scale(1.2);
}

.container {
  margin: 0 auto;
  text-align: center;
}
.container-card span {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.Numbers {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

/******** GALLERY *******/
.gallery {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.image-container {
  position: relative;
  margin-top: 10vh;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s;
}

.image-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.image-container span img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-container {
  position: relative;
  width: 80%;
}

.btn {
  position: absolute;
  bottom: -80px;
  background: crimson;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#prev {
  left: 20%;
}

#next {
  right: 20%;
}

.btn:hover {
  filter: brightness(1.5);
}

/* ********* FORM ********* */
.heading-form {
  display: flex;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: normal;
  margin: 50px;
  transition-property: all;
  transition-duration: 0.5s;
  justify-content: center;
  margin-top: 10%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 10rem;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  outline: none;
  width: 50%;
}

input:focus {
  border-bottom: 2px solid var(--primary-color);
}

.form-btn {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 2px solid black;
  background-color: #299fbc;
  color: black;
  height: 2.5rem;
  width: 5rem;
  font-weight: 700;
  border-radius: 1rem;
}

.form-btn:hover
{
    cursor: pointer;
    background-color: rgb(187, 181, 181);
}

/* ********* FOOTER ********* */
footer {
  height: 30vh;
  background-color: #000000be;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > a {
  color: #fff;
  text-decoration: none;
  margin: 20px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
